body {
    background-image: url('../../aa.png');
     background-size: cover;
}

.header {
    background: rgba(207, 202, 207, 0.75);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;       
    padding: 0.5rem 2rem;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 2px 8px rgba(25, 0, 255, 0.067);
    max-width: 100vw;
    height: 56px;                        
    top: 0;
    left: 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-name-box {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #69536e;
    border-radius: 10px;
    padding: 6px 16px;
    background: rgba(255,255,255,0.08);
    box-sizing: border-box;
}

.site-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
    position: relative;
    top: 0px; 
    margin: 10px;
}

h2 {
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    position: center;

}

.site-title2 {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #69536e;
    border-radius: 30px;
    padding: 6px 16px;
    background: rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    margin: 10px;


}


.site-title3 {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #69536e;
    border-radius: 30px;
    padding: 6px 16px;
    background: rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    margin: 10px;

}

.site-title4 {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #69536e;
    border-radius: 30px;
    padding: 6px 16px;
    background: rgba(255,255,255,0.08);
    box-sizing: border-box;
    margin: 10px;
    

}


.site-title2 a {
  color: #000000; 
  text-decoration: none; 
}

.site-title3 a {
  color: #000000; 
  text-decoration: none; 
}

.site-title4 a {
  color: #000000; 
  text-decoration: none;
}


