body {
    background-image: url('../../thumb-1920-1372963.png');
}

.header {
    background: rgba(141, 141, 143, 0.75);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;       
    padding: 0.5rem 2rem;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 2px 8px rgba(25, 0, 255, 0.067);
    max-width: 100vw;
    height: 56px;                        
    top: 0;
    left: 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-name-box {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #0099ff;
    border-radius: 10px;
    padding: 6px 16px;
    background: rgba(255,255,255,0.08);
    box-sizing: border-box;
}

.site-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
    position: relative;
    top: 0px; 
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: #222;
    position: relative;
    top: 0px; 
    padding: 100px;
}

.site-title2 {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #0099ff;
    border-radius: 10px;
    padding: 6px 16px;
    background: rgba(255,255,255,0.08);
    box-sizing: border-box;
    margin: 100px;

}
